@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus ~ .floating-label,
input:valid ~ .floating-label {
font-size: 11px;
top: 7px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

